.fade-enter,
.fade-exit {
  opacity: 0;
  position: absolute;
  width: 100%;
}

.hover-transform {
  transition: all 0.3s ease;
}
.hover-transform:hover {
  transform: scale(1.1);
  color: #FFD700;
}
.hover-transform:focus {
  transform: scale(1.1);
  color: #FFD700;
}

.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
  position: absolute;
  width: 100%;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}


/* Стили для WebKit-браузеров */
.cuteScrollBar::-webkit-scrollbar {
  width: 12px;          /* Ширина вертикального скролбара */
  height: 12px;         /* Высота горизонтального скролбара */
}

.cuteScrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Цвет трека скролбара */
  border-radius: 10px;
}

.cuteScrollBar::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет ползунка */
  border-radius: 10px;
}

.cuteScrollBar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет ползунка при наведении */
}

/* Стили для Firefox */
.cuteScrollBar {
  scrollbar-width: thin;                  /* Тонкий скролбар */
  scrollbar-color: #888 #f1f1f1;         /* Цвет ползунка и трека */
}

/* Детальная настройка для Firefox */
.cuteScrollBar scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.cuteScrollBar scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.cuteScrollBar scrollbar-thumb:hover {
  background-color: #555;
}


/* Отключение скроллбара в WebKit-браузерах */
.cuteScrollBar2::-webkit-scrollbar {
  display: none; /* Полностью скрывает скроллбар */
}

/* Отключение скроллбара в Firefox */
.cuteScrollBar2 {
  scrollbar-width: none; /* Скрывает скроллбар */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
}
